{{define "navbar"}}
    <link rel="stylesheet" href="/styles/navbar.css">
<div class="topnav">
    <a class="active" href="/index">Home</a>
    <a href="/register">Register</a>
    <a href="/plex">Plex</a>
</div>
{{end}}