<!DOCTYPE html>
<html>
<head>
</head>
{{template  "navbar"}}

<body>

<iframe width="800" height="420" src="plex.htm" frameborder="1" allowfullscreen name="plex"></iframe>
<p><a href="http://www.godawful.icu" target="plex">Load Plex</a></p>
</body>

</html>