<!DOCTYPE html>
<html>
<head>
</head>
{{template  "navbar"}}

<body>

<iframe width="560" height="315" src="plex.htm" frameborder="1" allowfullscreen name="plex"></iframe>
<iframe width="560" height="315" src="demo.htm" frameborder="1" allowfullscreen name="wikipedia"></iframe>
<p><a href="73.189.216.252:32400/" target="plex">Plex</a></p>
<p><a href="https://en.wikipedia.org/wiki/Main_Page" target="wikipedia">Wikipedia</a></p>
</body>

</html>